*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 250, 250);
}
/*header*/
header{
    height: 100px;
    padding: 20px 10px;
    background-color: white;
    margin-bottom: 50px;
}
#logo{
    height: 100%;
    vertical-align: middle;
}
.logo-testo{
    font-size: 45px;
    font-weight: 700;
    vertical-align: middle;
}
/*fine header*/
/*main*/
/*inizio contenitore superiore*/
.contenitore{
    background-color: white;
    border-radius: 20px;
    width: 60%;
    margin: 0 auto;

}
.bottone-blu{
    color: white;
    background-color: rgba(53, 167, 243, 0.904);
    border: 2px solid;
}
.bottone{
    padding: 10px 10px;
    border-radius: 10px;
}
.bottone-aggiungi{
    border: 1px solid gray;
    color: gray;
    background-color: transparent;
}
.contenitore-superiore{
    padding: 20px 100px;
    border-bottom: 2px solid rgb(250, 250, 250);
}
/*fine contenitore superiore*/
/*inizio contenitore inferiore*/
.contenitore-inferiore{
    padding: 20px 100px;
}
/*inizio sezione liste*/
ul{
    list-style-type: none;
}
li{
    padding: 10px 0px;
}
/*fine sezione liste*/
/*inizio sezione simboli*/
.simboli{
    padding: 0px 2px;
    border-radius: 50%;
    margin-right: 10px;
}
.fatto{
    border: 1px solid rgb(27, 173, 27);
    color: rgb(27, 173, 27);
}
.non-fatto{
    border: 1px solid rgb(197, 26, 26);
    color: rgb(197, 26, 26);
}
/*fine sezione simboli*/
/*inizio sezione stile tag*/
.tag{
    margin-left: 10px;
    padding: 10px;
    color: white;
    border-radius: 30px;
    font-size: 11px;
}
.editoriale{
    background-color: rgba(53, 167, 243, 0.904);
}
.goals{
    background-color: rgba(137, 43, 226, 0.842);
}
.reclutamento{
    background-color: rgb(80, 175, 167);
}
.mobile{
    background-color: rgba(231, 153, 7, 0.856);
}
.website{
    background-color: rgb(189, 105, 189);
}
.vendite{
    background-color: rgb(128, 177, 55);
}
/*fine sezione stile tag*/
/*fine contenitore inferiore*/
/*fine main*/